In [1]:
matrix = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
m = len(matrix) # number of rows
n = len(matrix[0]) # number of columns

In [2]:
for i in range (5):
    for j in range (5):
        if j<=i:
            print(j+1,end='')
    print ('\n')

1

12

123

1234

12345

In [3]:
n=5
for i in range(1,n+1):
    for j in range (1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [4]:
left = 3
right = 3
update =2
for i in range (3):
    num=1
    for j in range (7):
        if j <left or j> right:
            print('       ',end=' ')
        else:
            print('(',i,j,')',end=' ')
    left -= update
    right += update
    update -= 1
    print()

                        ( 0 3 )
        ( 1 1 ) ( 1 2 ) ( 1 3 ) ( 1 4 ) ( 1 5 )
( 2 0 ) ( 2 1 ) ( 2 2 ) ( 2 3 ) ( 2 4 ) ( 2 5 ) ( 2 6 )

In [5]:
left = 3
right = 3
update =2
for i in range (3):
    num=1
    for j in range (7):
        if j <left or j> right:
            print(' ',end=' ')
        elif j>=left and j<3:
            if left%2==1 and j%2==0:
                print (' ',end=' ')
            elif left%2==0 and j%2==1:
                print (' ',end=' ')
            else:
                print(num,end=' ')
                if j!=2:
                    num+=2-update
        else:
            if left%2==1 and j%2==0:
                print (' ',end=' ')
            elif left%2==0 and j%2==1:
                print (' ',end=' ')
            else:
                print(num,end=' ')
                num-=2-update
    left -= update
    right += update
    update -= 1
    print()

      1
  1   2   1
1   3   3   1

In [6]:
n = 5
for i in range (1,n+1):
    for j in range (i):
        print ('*',end ='')
    print ()

*
**
***
****
*****

# inverted half pyramid

In [7]:
n= 4
for i in range(1,n+1):
    for j in range (i):
        print ('*',end='')
    print()

*
**
***
****

In [8]:
n= 4
for i in range(n,0,-1):
    for j in range (i):
        print ('*',end='')
    print()

****
***
**
*

In [9]:
N= 4
for i in range(1,N+1): 
    #for each column from 1 to 2N-1 
    for j in range(1,N+1): 
        #check if column is within the range of asterisks 
        if j>=N-i+1 and j<=N+i-1: 
            #print asterisk without newline 
            print('*',end ='') 
        else: 
            #print underscore without newline 
            print('_',end="") 
            #print newline 
    
    print()

___*
__**
_***
****

In [10]:
N= 6
for i in range(1,N+1): 
    for j in range(1,N+1): 
        if j>=N-i+1 : 
            
            print('*',end ='') 
        else: 
            print('_',end="") 
    print (N-i+1,end="|")
    print (i,end="|")
    print (j,end="|")
    print()

_____*6|1|6|
____**5|2|6|
___***4|3|6|
__****3|4|6|
_*****2|5|6|
******1|6|6|

In [11]:
N= 7
for i in range(1,N+1): 
    for j in range(1,i+1): 
        if j>=N-i+1 : 
            
            print('*',end ='') 
        else: 
            print('_',end="") 
    
    print()

_
__
___
___*
__***
_*****
*******

In [12]:
n=5
for i in range (n):
    for j in range (n-i):
        print('*', end='')
    print()

*****
****
***
**
*

In [13]:
n=3
for row in range (n):
    for col in range (n-row-1):
        print(' ',end='')
        
    for col in range (2*row+1):
        print('*', end='')
    print()

  *
 ***
*****

In [14]:
n=3
for row in range (0,n):
    for col in range (0,n-row-1):
        print (end=' ')
    for col in range (0,row+1):
        print('* ',end="")
    print()
for row in range (n-1,0,-1):
    for col in range (n,row,-1):
        print (end=' ')
    for col in range (0,row):
        print ('* ', end='')
    print()

  *
 * *
* * *
 * *
  *

In [15]:
n=3
for r in range (2*n):
    for c in range (r):
        if r<n:  
            print('* ',end='')
    for c in range (2*n-r):
        if r>=n:
            print('* ',end='')
    print()

*
* *
* * *
* *
*

In [16]:
n=3
for r in range (2*n):
    for c in range (2*n-r-1):
        if r<=n: 
            print (end=' ')
    for c in range (r):
        if r<=n:  
            print('* ',end='')
    for c in range (r-n+2):
        if r>n: 
            print (end=' ')
    for c in range (2*n-r):
        if r>n:
            print('* ',end='')

    print ()

    *
   * *
  * * *
   * *
    *

In [17]:
n=3
for r in range (2*n):
    for c in range (2*n-r):
        if r<=n: 
            print (end=' ')
    for c in range (r):
        if r<=n:  
            print('* ',end='')
    for c in range (2*n-r):
        if r>n: 
            print (end=' ')
    for c in range (r):
        if r>n:
            print('* ',end='')
            
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [18]:
n=4
for r in range (n+1):
    for c in range (n-r):
        print(' ',end='')
    
    for c in range (r+1,0,-1):
        print (c, end='')
        
    for c in range (2,r+2):
        print (c, end='')
        
    print()

    1
   212
  32123
 4321234
543212345

In [19]:
n=4
for r in range (n+1):
    for c in range (n-r):
        print(' ',end='')
    
    for c in range (r+1,0,-1):
        print (c, end='')
        
    for c in range (2,r+2):
        print (c, end='')
    print()    

num = 4    
for r in range (r,2*n):
    for c in range (r-n+1):
            print (' ',end='')
    
    for c in range (2*n-r):
            print (num-c, end='')
    num-=1 
    
    for c in range(3,2*n-r+2):
        print (c-1,end='')
       
    print()

    1
   212
  32123
 4321234
543212345
 4321234
  32123
   212
    1

In [20]:
# number triangle pattern
n = 4 # size of the pattern
s = n - 1 # number of spaces in the first row
d = 1 # number of digits in the first row
for i in range(n): # loop for the upper half of the pattern
    for j in range(s): # loop for printing spaces
        print(" ", end="")
    num = 1 # starting number for each row
    for k in range(d): # loop for printing digits in ascending order
        print(num, end="")
        num += 1 # increment the number by 1
    num -= 2 # decrement the number by 2 to print digits in descending order
    for l in range(d - 1): # loop for printing digits in descending order
        print(num, end="")
        num -= 1 # decrement the number by 1
    print() # new line after each row
    s -= 1 # decrease the number of spaces by 1 for each row
    d += 1 # increase the number of digits by 1 for each row

s = 1 # reset the number of spaces for the lower half of the pattern
d = n - 1 # reset the number of digits for the lower half of the pattern
for i in range(n - 1): # loop for the lower half of the pattern
    for j in range(s): # loop for printing spaces
        print(" ", end="")
    num = 1 # starting number for each row
    for k in range(d): # loop for printing digits in ascending order
        print(num, end="")
        num += 1 # increment the number by 1
    num -= 2 # decrement the number by 2 to print digits in descending order
    for l in range(d - 1): # loop for printing digits in descending order
        print(num, end="")
        num -= 1 # decrement the number by 1
    print()
    s += 1 # increase the number of spaces by 1 for each row
    d -= 1 # decrease the number of digits by 1 for each row

   1
  121
 12321
1234321
 12321
  121
   1

In [21]:
n = 4
s = n - 1
d = 1
for i in range(n):
    for j in range(s):
        print(" ", end="")
    num = 1
    for k in range(d):
        print(num, end="")
        num += 1
    num -= 2 
    for l in range(d - 1):
        print(num, end="")
        num -= 1
    print()
    s -= 1
    d += 1

s = 1
d = n - 1 
for i in range(n - 1):
    for j in range(s):
        print(" ", end="")
    num = 1
    for k in range(d): 
        print(num, end="")
        num += 1
    num -= 2
    for l in range(d - 1):
        print(num, end="")
        num -= 1
    print()
    s += 1
    d -= 1

   1
  121
 12321
1234321
 12321
  121
   1

In [22]:
n = 4
for r in range(2*n+1):
    for c in range(2*n+1):
        k = 2*n - r
        l = 2*n - c
        digit = min(r, c, k, l) # calculate the minimum distance from the side wall of the matrix
        digit = n- digit
        print(digit, end=" ")
    print()

4 4 4 4 4 4 4 4 4
4 3 3 3 3 3 3 3 4
4 3 2 2 2 2 2 3 4
4 3 2 1 1 1 2 3 4
4 3 2 1 0 1 2 3 4
4 3 2 1 1 1 2 3 4
4 3 2 2 2 2 2 3 4
4 3 3 3 3 3 3 3 4
4 4 4 4 4 4 4 4 4

In [23]:
# inner reducing pattern
n = 4
size = 2 * n - 1
front = 0 # starting index of each layer
back = size - 1 # ending index of each layer
a = [[0] * size for _ in range(size)] # create a 2D list to store the numbers
while n != 0:
    for i in range(front, back + 1): # loop for the rows of each layer
        for j in range(front, back + 1): # loop for the columns of each layer
            if i == front or i == back or j == front or j == back: # check if the index is at the boundary of the layer
                a[i][j] = n # assign n to the element at that index
    front += 1 # increment the starting index by 1 for each layer
    back -= 1 # decrement the ending index by 1 for each layer
    n -= 1

for row in a: # loop for printing the pattern
    print("".join(map(str, row))) # convert each row into a string and print it

4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [24]:
n=5
[[max(i+1, j+1,n-i,n-j) for j in range(n)] for i in range (n)]

[[5, 5, 5, 5, 5],
 [5, 4, 4, 4, 5],
 [5, 4, 3, 4, 5],
 [5, 4, 4, 4, 5],
 [5, 5, 5, 5, 5]]

In [25]:
n=5
for r in range (n):
    for c in range (n-r-1):
        print ('0', end='')   
    for c in range (r+1,2*r+2):
        print (c,end='')
    for c in range (2*r,r,-1):
        print (c,end='')
    for c in range (n-r-1):
        print ('0', end='')

    print ()

000010000
000232000
003454300
045676540
567898765

In [26]:
n= 3
for r in range (2 * n):
    for c in range(r):
        print (' ',end='')
    for c in range (1):
        print ('*',end='')
    print()

*
 *
  *
   *
    *
     *

### skip even numbers half pyramid

In [27]:
n= 4
d=1
for r in range (n):
    for c in range (r+1):
        print (d,end='')
        d+=2
    print()

1
35
7911
13151719

In [28]:
n = 7
for r in range(n):
    for c in range(n+1):
        if r + c == n:
            print("*", end="")
        else:
            print(" ", end="")
    print()

       *
      *
     *
    *
   *
  *
 *

### butterfly pattern

In [29]:
n = 4
for r in range(n+1):
    print("*", end="")
    print(" "*(r)*2, end="")
    print("*")
    
# Lower part
for r in range(n+1, -1, -1):
    print("*", end="")
    print(" "*(r)*2, end="")
    print("*")

**
*  *
*    *
*      *
*        *
*          *
*        *
*      *
*    *
*  *
**

In [30]:
n= 4
for r in range(1,n+1): #or range(n)for no line in between
    print("*"*r, end="")
    print(" "*(n-r)*2, end="")
    print("*"*r)
for r in range(n, 0, -1):
    print("*"*r, end="")
    print(" "*(n-r)*2, end="")
    print("*"*r)

*      *
**    **
***  ***
********
********
***  ***
**    **
*      *

In [31]:
n= 6
for r in range(1,n+1):
    for c in range (1,r+1):
        if c%2==0:
            print (c,end='')
        else:
            print ('*',end='')
    print()

*
*2
*2*
*2*4
*2*4*
*2*4*6

In [32]:
n= 4
for r in range(1,n+1):
    for c in range (1,n+1):
        if c==1:
            print ('*',end='')
        if c<n:
            print (' ',end='')
        else:
            print ('*',end='')
    print()

*   *
*   *
*   *
*   *

In [33]:
n= 4
for r in range(1,n+1):
    print ('*',end='')
    for c in range (n-1):
        print (' ',end='')
    print ('*',end='')
    print()

*   *
*   *
*   *
*   *

In [34]:
n= 5
for r in range(1,n+1):
    for c in range (n):
        print ('*'*(n-r+1),end='')
        print (' '*2*(r-1),end='')
    print()

*************************
****  ****  ****  ****  ****
***    ***    ***    ***    ***
**      **      **      **      **
*        *        *        *        *

In [35]:
n= 5
for r in range(1,n+1):
    for c in range (n-r+1):
        print ('*',end='')
    for c in range (2*(r-1)):
        print (' ',end='')
    for c in range (n-r+1):
        print ('*',end='')
    print()

**********
****  ****
***    ***
**      **
*        *

In [36]:
n = 5
for r in range(n):
    for c in range (1,r+2):
        print('*',end='')
    for c in range (2*(n-r)-2):
        print(' ',end='')
    for c in range (1,r+2):
        print('*',end='')
    print()

*        *
**      **
***    ***
****  ****
**********

In [37]:
n= 5
for r in range(1,n+1):
    for c in range (n-r+1):
        print ('*',end='')
    for c in range (2*(r-1)):
        print (' ',end='')
    for c in range (n-r+1):
        print ('*',end='')
    print()
n = 5
for r in range(n):
    for c in range (1,r+2):
        print('*',end='')
    for c in range (2*(n-r)-2):
        print(' ',end='')
    for c in range (1,r+2):
        print('*',end='')
    print()

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [38]:
n= 5
for r in range(1,n):
    for c in range (1,2*n-r):
        print (' ',end='')
    for c in range (2*(r)-1):
        print ('*',end='')
    print()
for r in range(1,n):
    for c in range (r-1):
        print (' ',end='')
    for c in range (n-r+1):
        print ('*',end='')
    for c in range (3,2*n):
        print ('*',end='')
    for c in range (n-r+1):
        print ('*',end='')
    print()
for r in range(1,n):
    for c in range (1,n-r):
        print (' ',end='')
    for c in range (r):
        print ('*',end='')
    for c in range (1,2*n):
        print ('*',end='')
    for c in range (r):
        print ('*',end='')
    print()
for r in range(1,n):
    for c in range (1,r+n):
        print (' ',end='')
    for c in range (2*(n-r)-1):
        print ('*',end='')
    print()

        *
       ***
      *****
     *******
*****************
 ***************
  *************
   ***********
   ***********
  *************
 ***************
*****************
     *******
      *****
       ***
        *

In [39]:
n=5
for r in range (1,n+1):
    for c in range (n+1-r):
        if c>0:
            print (" ",end="")
        for k in range (c,n):
            print ('*',end="")
    print ()

***** **** *** ** *
***** **** *** **
***** **** ***
***** ****
*****